// Jade file to specify output of a athlete list
// Inherits from layout
extends layout
block navbarcontent

block content
  &nbsp
  &nbsp
  &nbsp
  &nbsp
  &nbsp
  &nbsp
  .container
    p
      table
          tr
            td=info[0].AID+" "
            td &nbsp;
            td=info[0].FULLNAME
            td &nbsp;
            td=info[0].DOB
            td &nbsp;
            td=info[0].GENDER
            td &nbsp;
            td=info[0].HEIGHT
            td &nbsp;
            td=info[0].WEIGHT
      table      
        - for (var inx = 0; inx < results.length; inx++)
          tr
            td=results[inx].YEAR
            td &nbsp;
            td=results[inx].DISCIPLINE
            td &nbsp;
            td=results[inx].EVENT
            td &nbsp;
            td=results[inx].MEDAL 
  // Put a click button that lets us return to the index page 
  form(method='get', action='/')
      input(type='submit', value='Return')
